*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Pooins",sans-serif;



}
.card{
    width: 350px;
border: 1px solid #e5e5e5;
padding: 1rem;
margin: 2rem auto;
text-align: center;


    

}


.card input,button {
    width: 100%;
    border: 1px solid #e5e5e5;
padding: 8px 12px;




}

.card.input__group{
    margin-top: 1rem;
margin-bottom: 1rem;






}
.card button{
background-color: dodgerblue;
color: #fff;
font-size: 1rem;
cursor: pointer;
margin-bottom: 1rem;
}
.card a {
text-decoration: none;
}
